<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<title>Jquery Form Validator Plugin</title>
<head>
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/formvalid.css" rel="stylesheet" type="text/css">
  <link rel='stylesheet' id='montserrat-css'  href='http://fonts.googleapis.com/css?family=Montserrat%3A400%2C700&ver=4.1.1' type='text/css' media='all' />
</head>
<body>
	<form action="" role="form" name="rfp-step1" id="rfpFormStep1">
    <div class="step1">
          <div class="row row-divider server-error">
              <div class="alert alert-danger" role="alert">
                <span> Must be atleast 6 characters long, and contain atleast one number, one uppercase and one lowercase letter. </span>
              </div>
          </div>
		      <div class="row row-divider">
                 <div class="col-md-3">
                    <label for="FirstName" class="field-label">First Name</label>
                </div>
                 <div class="col-md-5"> 
                 <input class="field-type" name="FirstName" id="FirstName" maxlength="100" title=""  placeholder="enter first name" data-formvalidate="text" data-errormessage-value-missing="Please enter a valid name" />
                  </div>
                  <span class="col-md-4 error-container"></span>
            </div>
            <div class="row row-divider"> 
                <div class="col-md-3">
                 <label for="LastName" class="field-label">Last Name</label>
               </div>
                <div class="col-md-5"> 
                 <input class="field-type" name="LastName" id="LastName" maxlength="100" title=""  placeholder="enter first name" data-formvalidate="text" data-errormessage-value-missing="Please enter a valid last name" />
               </div>
                  <span class="col-md-4 error-container"></span>
            </div>  
             <div class="row row-divider"> 
                <div class="col-md-3">
                 <label for="Email" class="field-label">Email</label>
               </div>
                <div class="col-md-5"> 
                 <input class="field-type" name="Email" id="Email" placeholder="enter email here" data-formvalidate="email" data-errormessage-value-missing="Please enter a valid email" />
               </div>
                  <span class="col-md-4 error-container"></span>
            </div> 
             <div class="row row-divider"> 
                <div class="col-md-3">
                 <label for="Phone" class="field-label">Phone Number</label>
               </div>
                <div class="col-md-5"> 
                 <input class="field-type" name="Phone" id="Phone" placeholder="enter email here" data-formvalidate="phone" data-errormessage-value-missing="Please enter a valid phone number" />
               </div>
                  <span class="col-md-4 error-container"></span>
            </div> 
             <div class="row row-divider"> 
                <div class="col-md-3">
                 <label for="Password" class="field-label">Password</label>
               </div>
                <div class="col-md-5"> 
                 <input class="field-type" name="Password" type="password" id="Password" placeholder="enter password here" data-formvalidate="password" data-errormessage-value-missing="Please enter a valid password" />
               </div>
                  <span class="col-md-4 error-container"></span>
            </div> 
             <div class="row row-submit"> 
               
                <div class="col-md-12"> 
                    <button class="btn btn-default pull-left fld-submit">SUBMIT </button>
               </div>
                 
            </div>
         </div>   
    </form>
<script src="js/jquery-1.10.2.js"> </script>
<script src="js/formvalidator.js"></script>
</body>
</html>